<div class="body-content">
    <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At delectus obcaecati neque eum unde vero voluptate
        quidem dolorem, molestias, amet hic sed! Eveniet, quia saepe atque possimus voluptatum hic voluptatibus!
        Voluptatem, beatae dolor doloribus minus quaerat optio inventore rem rerum fuga veniam tempora voluptates
        sapiente eveniet reiciendis ex nobis mollitia earum maiores atque ipsum est. Autem iusto tempore animi! Ea!
        Fugiat consectetur officia molestias eveniet facilis voluptatibus aut adipisci non quam fugit minus vero
        assumenda repellendus cupiditate, autem accusantium pariatur, dolores iste quos totam ad et? Commodi eius
        repellendus cupiditate? Totam, exercitationem eaque id aperiam dolor magnam eius. Dignissimos cum velit, rem
        sapiente nisi, dolorum fugit adipisci voluptatum impedit eaque commodi et facilis at similique est molestias
        distinctio praesentium minima.
    </h2>
</div>
