/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff 25%, #27627b 75%);
    background-attachment: fixed;
    font-size: 20px;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Irish Grover', Arial, sans-serif;
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    color: rgba(24, 52, 63, 0.766);
    padding: 10px 20px;
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    min-height: 200px;
    align-items: center;
    justify-content: space-around;
    color: white;
}

p {
    font-size: 30px;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* Header styles */

.header-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo img {
    width: 200px;
    height: 100%;
    border-radius: 30%;
    align-self: center;
    justify-self: center;
}

.header-content {
    flex: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: 26px;
    color: #27627b;
    text-shadow: 1px 1px 2px black;
}

.header-content-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #27627b;
    border-radius: 25px;
    font-size: 26px;
}

.header-content-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    text-shadow: 0 0 2px black;
    transition: all 200ms;
}

.header-content-menu a:hover {
    text-shadow: 0 0 4px white;
}

.header-userinfo {
    flex: 1;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-start;
    text-shadow: 0 0 1px black;
}

#header-userinfo-username {
    margin: 10px;
    transition: all 300ms ease-in-out;
}

#header-userinfo-username:hover {
    transform: scale(1.1);
}

#header-userinfo-cart {
    transition: all 300ms ease-in-out;
}

#header-userinfo-cart:hover {
    transform: scale(1.1);
}

/* Body styles */

.body-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.141);
    background-color: #ffffff1a;
    box-shadow: 0 0 1px #27627b19;
    border-radius: 70px;
    text-align: justify;
}

/* Footer styles*/

footer > * {
    min-width: 25%;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px black;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 1px 1px 3px black;
}

.footer-input-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-newsletter-input {
    font-family: 'Irish Grover', Arial, sans-serif;
    width: 250px;
    height: 31px;
    background: #d9d9d9;
    border-radius: 30px;
    margin-right: -40px;
    padding-left: 10px;
}

.footer-button-newsletter {
    width: 40px;
    height: 36px;
    background: #d9d9d9;
    border-radius: 50px;
}
