/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Irish Grover', Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, rgb(39, 94, 123));
}

header {
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: rgba(24, 52, 63, 0.766);
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    min-height: 150px;
    align-items: center;
    justify-content: space-around;
    background: rgb(39, 94, 123);
    color: white;
}

/* Footer styles*/
.footer-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-social ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-input-container {
    display: flex;
    justify-content: center;
}

.footer-newsletter-input {
    width: 250px;
    height: 31px;
    background: #d9d9d9;
    border-radius: 30px;
    margin-right: -40px;
}

.button-newsletter {
    width: 40px;
    height: 36px;
    background: #d9d9d9;
    border-radius: 50px;
}
