
/* Newsletter styles*/
footer {
    background: #333;
    font-family:'Irish Grover';
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

.input-button-container {
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 250px; 
    height: 31px; 
    background: #D9D9D9; 
    border-radius: 30px;
    margin-right: -40px;
}

.button-newsletter {
    width: 40px; 
    height: 36px; 
    background: #D9D9D9; 
    border-radius: 50px;
}